{{#if tasks}}

    <div class="col-12 px-4 mb-4">
        <h1 class="display-1">All tasks <span class="text-muted display-5">({{totalTasks}})</span></h1>
    </div>

    {{#each tasks}}

    <div class="col-lg-4 col-12 px-4 pb-4 task">
        <div class="d-flex align-items-start justify-content-between">
            <h4 class="fw-bold">{{title}}</h4>
            <div class="ms-2 actions">
                <div class="dropdown">
                    <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu border-0 bg-light" aria-labelledby="dropdownMenuButton1">
                        <li>
                            {{#if done}}
                                <a class="btn dropdown-item fs-sm" href="/tasks/{{_id}}/toggleDone" data-toggle="done">Completed</a>
                            {{else}}
                                <a class="btn dropdown-item fs-sm" href="/tasks/{{_id}}/toggleDone" data-toggle="undone">Not completed</a>
                            {{/if}}
                        </li>
                        <li><a class="btn dropdown-item fs-sm" href="/tasks/{{_id}}/edit">Edit</a></li>
                        <li><a class="btn dropdown-item fs-sm" href="/tasks/{{_id}}/delete">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {{#if done}}
        <span class="badge badge-undone my-3">Not completed</span>
        {{else}}
        <span class="badge badge-done my-3">Completed</span>
        {{/if}}
        <p class="fs-sm text-muted">{{description}}</p>
    </div>

    {{/each}}

{{else}}

    <div class="col-12 p-4 task text-center d-flex align-items-center justify-content-center flex-column h-100">
        <h1 class="display-4"><i class="bi bi-journal-bookmark"></i></h1>
        <h1 class="display-4 fw-bold">No tasks</h1>
    </div>
{{/if}}